@use '../index' as *;

.hero {
  position: relative;
  height: 600px;

  &__image-container {
    position: absolute;
    inset: 0;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgb(0 0 0 / 0.4);
    }
  }

  &__content {
    position: relative;
    height: 100%;
    @include flex-center;
    text-align: center;
    color: $white;
    padding: 0 $spacing-sm;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: $spacing-sm;
  }

  &__subtitle {
    font-size: 1.25rem;
  }
}